// 定义颜色
$color-background: #2d3a4b;
$color-background-a: rgba(0,0,0,0.3);
// 主色调
$color-theme: #ffcd32;
$color-theme-a: rgba(255, 205, 49, 0.5);
$color-sub-theme: #d93f30;
$color-white: #FFF;
$color-black: #333;
$color-black-l: #666;
$color-black-ll: #999;


// 字体大小
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;